<div class="container">
  <h1><%= @list.name %></h1>

  <div>
    <%# Add a new Bookmark %>
    <%= link_to 'add a movie', new_list_bookmark_path(@list) %>
  </div>

  <div>
    <% @list.bookmarks.each do |bookmark| %>
      <h2><%= bookmark.movie.title %></h2>
      <p><%= bookmark.comment %></p>
      <br>
    <% end %>
  </div>

  <hr>

  <%= link_to 'Back', root_path %>
</div>
