<div class="container">
  <h1><%= @list.name %></h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, collection: Movie.order(:title) %>
    <%= f.input :comment, placeholder: "Comment Movie"  %>
    <%= f.button :submit, placeholder: "Add Bookmark", class: "btn btn-secondary"%>
  <% end %>

  <hr>

  <%= link_to 'Back', list_path(@list) %>
</div>
